<section>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar color="color "></ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card ion-color-new="#b18185">
    <ion-card-header>
      <ion-card-title>Nuestro Cafe</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> El olor al café, a unos granos recién tostados, es la mejor bienvenida que cada día planificamos para brindarles cuando abrimos las puertas de nuestras tiendas. Pero eso es sólo el comienzo. </ion-card-content>
  </ion-card>
  <ion-card color="">
    <ion-card-header>
      <ion-card-title>In Store</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> En nuestras tiendas te esperan nuestros baristas capacitados para ofrecerte una bebida muy especial. El ambiente cálido y los detalles de nuestros productos elaborados artesanalmente hacen que la experiencia sea única e inigualable. </ion-card-content>
  </ion-card>
  <ion-card color="">
    <ion-card-header>
      <ion-card-title>Pick Up</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Retirá tu bebida favorita y viví la experiencia sin bajarte del auto. </ion-card-content>
  </ion-card>
    
  
  <ion-card color="">
    <ion-card-header>
      <ion-card-title>Delivery</ion-card-title>
    </ion-card-header>
  
    <ion-card-content> Los clientes pueden pedir sus bebidas y productos favoritos donde sea que estén con operadores logísticos al servicio como Pedidos Ya.
    </ion-card-content>
  </ion-card>
  
</ion-content>
</section>