<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="titulo">
      DESTACADOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-content>
    <ion-button id="btnAleatorio" expand="full" color="white" (click)="obtenerRecomendacionAleatoria()"> Café del día</ion-button>

  
    <button *ngIf="appRecomendada" ><ion-card>
      <ion-card-header>
        Café Recomendado
      </ion-card-header>
      <ion-card-content (click)="descargarApp(appRecomendada.id)">
        <img  src="{{appRecomendada.fotoUrl}}" alt="">
        <p id="nombre">{{ appRecomendada.nombre }}</p>
        <p> {{ appRecomendada.descripcion }}</p>
       
      </ion-card-content>
      <div class="contenedorBotones">
        <div class="botonesLike"><button class="likes" (click)="apretarMg()" [ngClass]="{'colorVerde':verde}" ><ion-icon class="heart" [name]="isLiked ? 'heart' : 'heart-outline'" color="danger"></ion-icon></button></div>
      </div>
    </ion-card>
  </button>
