section{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 12px;
    margin-bottom: 200px;
}

section a{
    position: relative;
    color: white;
    border-radius: 10px;
    padding: 80px 0;
    text-align: center;
    margin: 10px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
    span{
        color: white;
        font-weight: bold;
        font-size: large;
        background-color: rgb(83, 118, 83);
        width: 100%;
        display: block;
        padding: 5px;
        position: absolute;
        bottom: 0;
    }

}

.first {
    
    ion-icon {
      // Estilos para el icono dentro de la clase 'first'
      color: gold; // Cambia el color según sea necesario
    }
  }