
#categorias-li{
    background-color: antiquewhite;
}
.row-botones{
    margin: 20px;
    position: relative;
    right: -20px;
    #boton-vaciar{
        margin-right: 30px;
    }
}


 .qr{
        right: -60px;
        position: relative;
        
    }
    
    a{
     color: #000000;
     text-decoration: none;
     margin-left: 130px;
     margin-bottom: 40px;
    
    }
     
    .dw{
        right: 20px;
        position: relative;
        margin-bottom: 40px;
    }
    

.row-botones{
    margin: 20px;
    position: center;
    #boton-vaciar{
        margin-right: 16px;
    }
}
ion-toolbar {
    --background:#ffffff; /* Fondo del encabezado */
    --color: #000000; /* Color del texto del encabezado */
   
  }
  ion-card {
    --background: #ecf0f1; /* Fondo de las tarjetas */
    margin-bottom: 10px; /* Espacio entre tarjetas */
  }