<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>carritos-realizados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of productosEncontrados">
        <ion-thumbnail slot="start">
          <img alt="{{item.nombre}}" src="{{item.imagen}}" />
        </ion-thumbnail>
       <ion-label>{{item.nombre}}</ion-label> 
       <ion-button [fill]="'clear'" (click)="cartService.eliminarProducto(item.nombre)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
